<div class="card" *ngIf="employee">
  <img class="card-img-top" [src]="employee.getByteImage()" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{employee.firstname}} {{employee.lastname}} ({{employee.nickname}})</h4>
    <p class="card-text"><small class="text-muted">Email: {{employee.email}}</small></p>
    <p class="card-text"><small class="text-muted">Work: {{employee.work}}</small></p>
    <p class="card-text"><small class="text-muted">Mobile: {{employee.mobile}}</small></p>
  </div>
</div>