<md-input-container>
  <input md-input type="text" [(ngModel)]="searchText" placeholder="Search" />
</md-input-container>

<div class="floor-canvas" style="position: relative;">
  <floor *ngIf="floor" [floor]="floor"></floor>

  <div *ngIf="!isPinMode()">
    <desk *ngFor="let desk of desks|async|desk:searchText"
          [desk]="desk"
          [changeset]="changeset|async"></desk>
  </div>
  <div *ngIf="isPinMode()">
    <app-marker *ngFor="let desk of desks|async"
                [desk]="desk"></app-marker>
  </div>
</div>
