<div class="row" *ngIf="plan">
  <div class="col-sm-9">
    <h2>Manage Plan : {{plan.name}}</h2>

    <div class="floor-selector row">
      <building-selector [planId]="plan.id" [(selectedBuilding)]="selectedBuilding"></building-selector>
      <floor-selector *ngIf="selectedBuilding" [building]="selectedBuilding" [(selectedFloor)]="selectedFloor" (change)="loadFloorData()"></floor-selector>

      <div class="form-group" *ngIf="selectedFloor">
        <label for="changesetSelect">Effective Date</label>
        <input id="changesetSelect" class="form-control" type="date" [(ngModel)]="changesetDate" (change)="loadChangesetData()">
      </div>
    </div>

    <div class="alert alert-info" role="alert" *ngIf="noChangeset">
      No Changeset found. Do you want to <a md-raised-button (click)="createChangeset(event)">Create a new changeset</a>
    </div>

    <div class="alert alert-warning" role="alert" *ngIf="(selectedChangeset|async)?.status == 'COMPLETE'">
      <strong>Changeset status is Completed!</strong> Please select new date.
    </div>
  </div>
</div>
<div class="row" *ngIf="plan">
  <!--main-->
  <div class="col-sm">
    <ngb-tabset #t="ngbTabset" class="main-container">
      <ngb-tab id="editMode">
        <template ngbTabTitle>Edit mode</template>
        <template ngbTabContent>
          <floor-plan-canvas *ngIf="selectedFloor"
                             [floor]="selectedFloor"
                             [changeset]="selectedChangeset"></floor-plan-canvas>
        </template>
      </ngb-tab>
      <ngb-tab id="markingMode">
        <template ngbTabTitle>Marking mode</template>
        <template ngbTabContent>
          <floor-marker *ngIf="selectedFloor"
                        [floor]="selectedFloor"
                        [changeset]="selectedChangeset"></floor-marker>

        </template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
<app-sidebar>
  <!--sidebar -->
  <div *ngIf="(selectedChangeset|async)">
    <app-activity></app-activity>
  </div>
</app-sidebar>
