<div class="row" *ngIf="plan">

  <!--main-->
  <div class="col-sm-9">
    <h2>Plan : {{plan.name}}</h2>

    <div class="floor-selector row">
      <building-selector [planId]="plan.id" [(selectedBuilding)]="selectedBuilding"></building-selector>
      <floor-selector *ngIf="selectedBuilding" [building]="selectedBuilding" [(selectedFloor)]="selectedFloor" (change)="loadFloorData()"></floor-selector>

      <div class="form-group" *ngIf="selectedFloor">
        <label for="changesetSelect">Effective Date</label>
        <input id="changesetSelect" class="form-control" type="date" [(ngModel)]="changesetDate" (change)="loadChangesetData()">
        <div *ngIf="noChangeset">
          <button class="btn btn-primary" (click)="createChangeset()">Create Changeset</button>
        </div>
      </div>
    </div>

    <app-canvas-controller [changeset]="selectedChangeset|async"></app-canvas-controller>
    <ngb-tabset #t="ngbTabset">
      <ngb-tab id="editMode">
        <template ngbTabTitle>Edit mode</template>
        <template ngbTabContent>
          <floor-plan-canvas *ngIf="selectedFloor"
                             [floor]="selectedFloor"
                             [changeset]="selectedChangeset"></floor-plan-canvas>
        </template>
      </ngb-tab>
      <ngb-tab id="markingMode">
        <template ngbTabTitle>Marking mode</template>
        <template ngbTabContent>
          <floor-marker *ngIf="selectedFloor"
                        [floor]="selectedFloor"
                        [changeset]="selectedChangeset"></floor-marker>

        </template>
      </ngb-tab>
    </ngb-tabset>

  </div>

  <!--sidebar -->
  <div class="col-sm-3" *ngIf="(selectedChangeset|async)">
    <plan-holder></plan-holder>
  </div>

</div>
