<div>
  <h3>Changeset: {{(changeset|async)?.effectiveDate}}</h3>
  <button *ngIf="(changesetItemList|async)?.length > 0" type="button" class="btn btn-danger" (click)="approve()">Approve</button>
  <button *ngIf="(changesetItemList|async)?.length == 0" type="button" class="btn btn-danger" (click)="delete()">Delete</button>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th>From</th>
        <th>To</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let changesetItem of changesetItemList|async">
      <td>{{changesetItem.employee?.firstname}} {{changesetItem.employee?.lastname}}</td>
      <td>{{changesetItem.employee?.code}}</td>
      <td>{{changesetItem.fromDesk| deskString}}</td>
      <td>
        <button
          [routerLink]="['/plans',(selectedPlan|async)?.id
            ,'floorPlan',changesetItem.toDesk?.floor.building.id
            ,changesetItem.toDesk?.floor.id,(changeset|async)?.id
            ,'-'
            ]" type="button" class="btn btn-link">{{changesetItem.toDesk |deskString}}</button>
      </td>
      <td>{{changesetItem.status}}</td>
      <td>
        <div>
          <button type="button" class="btn btn-default" (click)="updateStatus(changesetItem, 'DRAFT')">DRAFT</button>
          <button type="button" class="btn btn-success" (click)="updateStatus(changesetItem, 'ACCEPT')">Approve</button>
          <button type="button" class="btn btn-danger" (click)="updateStatus(changesetItem, 'DENY')">Deny</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
