.btn-signin, .form-signin > .container {
    overflow: hidden;
}
.btn-signin {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    color: white;
}
.jumbotron {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.jumbotron.clicked {
    padding: 1rem 1rem;
}
.btn-signin.clicked {
    height: 0px;
}