<div *ngIf="user">
  <p>Login as : {{user.firstName}}</p>
  <button (click)="logout()">Logout</button>
</div>

<div class="jumbotron" *ngIf="user==null">
  <div class="container">
    <h1 class="display-3">Floor Plan Visualizer</h1>
    <p class="lead">Move desks in a blink of an eye.</p>
    <p class="btn-signin {{signInButtonClicked}}"><a class="btn btn-primary btn-lg" href="#" role="button" (click)="onSignInBtnClick()">Sign-In &raquo;</a></p>
  </div>
</div>

<form class="form-signin" (ngSubmit)="onSubmit()" #loginForm="ngForm" *ngIf="user==null">
  <div class="container" [@loginState]="signInButtonClicked">

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="username" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required [(ngModel)]="password" name="password">
    </div>

    <div class="checkbox">
      <label>
         <input type="checkbox" [(ngModel)]="rememberMe" name="rememberMe"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.form.valid">Sign in</button>
  </div>
</form>