/* Creates a vertical nav starting at 768px (sm) */
.navbar-dark .navbar-item a.nav-link {
    color: rgba(255,255,255,.5);
}

.navbar-nav .nav-link {
    display: block;
    padding-top: .425rem;
    padding-bottom: .425rem;
}
.nav-link {
    display: inline-block;
}
nav {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav.navbar-small {
  font-size: 0.8rem;
  line-height: 1.15;
  padding: 0 16px;
}
nav.navbar-small img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 20px;
  height: 20px;
}
nav{
  background: #00bcd4;
  color: #fff;
}
