  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Desk Information</h4>
  </div>
  <div class="modal-body">
    Floor: {{desk.floor.name}} <br/>
    Desk code: {{desk.code}} <br/>

    <div>
      <template #rt let-r="result" let-t="term">
        {{r.firstname}} {{r.lastname}} ({{r.code}})
      </template>

      Associate: <input type="text" [(ngModel)]="employee" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter"/> <span *ngIf="searching">searching...</span>

      <div *ngIf="employee && employee.id">
        <employee-card [employee]="employee"></employee-card>
      </div>

      <employee-card [employee]="(deskAssignment|async)?.employee"></employee-card>
      <div *ngIf="changesetItem|async">
        <employee-card [employee]="(changesetItem|async)?.employee"></employee-card>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="assignEmployee()" >Assign</button>
    <button type="button" class="btn btn-danger" (click)="unassignEmployee()" >Unassign</button>

    <button type="button" class="btn btn-secondary" (click)="activeModal.close('cancel')">Cancel</button>
    <br/>
  </div>
