.container {
  padding-top: 80px;
  width:100%;
}
.footer > .container {
  padding-top: 0px;
}
.footer {
  height: 30px;
  line-height: 30px;
  font-size: 0.85rem;
}
nav {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav.navbar-small {
  font-size: 0.8rem;
  line-height: 1.15;
  padding: 0 16px;
}
nav.navbar-small img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 20px;
  height: 20px;
}