<!-- Just an image -->
<div class="container-fluid">
  <nav class="navbar navbar-dark bg-inverse">
    <a class="navbar-brand" href="#">
      <img src="/assets/fpv-icon.svg" width="40" height="40" alt="">
    </a>
    
    <profile [(user)]="user"></profile>
  </nav>

  <div class="row">
    <leftnav [(user)]="user"></leftnav>
    <router-outlet></router-outlet>
  </div>

  <hr/>
</div>
<div class="container">
  <footer>
    <p>&copy; 2016 DST Systems, Inc. All rights reserved.</p>
  </footer>
</div>