<nav class="navbar navbar-dark navbar-fixed-top bg-inverse"
  [class.navbar-small]="isShrunk">
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <a class="navbar-brand" href="#">
      <img src="assets/fpv-icon.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <leftnav></leftnav>
    <div class="form-inline float-lg-right">
      <profile></profile>
    </div>
  </div>
</nav>

<!-- Begin page content -->
<div class="container">
  <router-outlet></router-outlet>
  <template ngbModalContainer></template>
</div>

<footer class="footer">
  <div class="container">
    <span class="text-muted">&copy; 2016 DST Systems, Inc. All rights reserved.</span>
  </div>
</footer>
