<div [appChangesetItemFocus]="changesetItem" draggable="true" (dragstart)="ondragstart($event)">
  <div class="employee-card" *ngIf="employee">
    <h5>{{employee.firstname}} {{employee.lastname}} ({{employee.nickname}})</h5>
    <div class="row">
      <div class="col-sm-5">
        <img class="avatar" [src]="employee.getImage()" alt="Employee image">
      </div>
      <div class="col-sm-7">
        <p class="text-muted">DT: {{employee.code}}</p>
        <p class="text-muted">Ext.: {{employee.work}}</p>
        <p class="text-muted">From: {{changesetItem.fromDesk | deskString}}</p>
        <p class="text-muted">To: {{changesetItem.toDesk | deskString}}</p>
      </div>
    </div>
  </div>
</div>
