/* Creates a vertical nav starting at 768px (sm) */
.navbar-dark .navbar-item a.nav-link {
    color: rgba(255,255,255,.5);
}

.navbar-nav .nav-link {
    display: block;
    padding-top: .425rem;
    padding-bottom: .425rem;
}
.nav-link {
    display: inline-block;
}