.empCard {
  position: relative;
  overflow: hidden;
  color: #ffffff;
  background-color: #141414;
}
.empCard .cardHeader {
    background-color: orangered;
    background-size: cover;
    height: 130px;
}
.empCard .cardInfo {
  width: 100%;
  background-color: #141414;
  padding: 25px;
  position: relative;
}
.empCard .cardInfo:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 600px;
  border-color: transparent transparent transparent #141414;
}
.empCard .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.empCard .view {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
.empCard h4 {
  margin: 0 0 5px;
  font-weight: 300;
}
.empCard h4 span {
  display: block;
  font-size: 0.5em;
  color: #2980b9;
}
.empCard p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}
body {
  background-color: #212121;
}
h4 a{
  color: white;
}
