<div class="empCard" *ngIf="employee">
  <div class="cardHeader" alt="sample87"></div>
  <div class="cardInfo">
    <a target="_blank" [routerLink]="['/plans',plan.id,'employees',employee.id]">
      <img [src]="employee.getImage()" alt="Employee image" class="profile" />
    </a>
    <h4>
      <a target="_blank" [routerLink]="['/plans',plan.id,'employees',employee.id]">
        {{employee.firstname}} {{employee.lastname}} ({{employee.nickname}})
      </a>
      <span>{{employee.position}}</span>
    </h4>
    <p class="text-muted">DT: {{employee.code}}</p>
    <p class="text-muted">Ext: {{employee.work}}</p>
    <p class="text-muted">Email: {{employee.email}}</p>

    <ng-content></ng-content>
  </div>
</div>
