<floor-plan-canvas *ngIf="floor" (click)="markDesk($event, modalContent)"
                   [floor]="floor"
                   [changeset]="changeset"></floor-plan-canvas>

<template #modalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add marker</h4>
  </div>
  <div class="modal-body">
    <floor-create-dialog [(desk)]="selectedDesk" (change)="completeCreateDesk(selectedDesk)"></floor-create-dialog>
  </div>

</template>
