<div class="desk-position" [appChangesetItemFocus]="(changesetItem)"
    [style.top]="desk.y - (desk.height/2) + 'px'"
    [style.left]="desk.x + - (desk.width/2) + 'px'"
    [style.height]="desk.height + 'px'"
    [style.width]="desk.width  + 'px'"

    [ngbPopover]="popContent" triggers="manual" popoverTitle="Desk code: {{desk.code}}"
    #popoverWindow = "ngbPopover" (mouseenter)="popoverWindow.open()" (mouseleave)="closePopoverWindow(popoverWindow)"
    placement="right" container="body"

    (click)="selectDesk($event)"

    [class.empty-desk]="!isNotEmptyDesk()"
    [class.moveable]="isNotEmptyDesk()"

    [draggable]="isNotEmptyDesk()"
    (dragstart)="ondragstart($event, popoverWindow)"
    (drop)="ondrop($event)"
    (dragover)="ondragover($event)">
  <span class="tag tag-pill tag-warning" *ngIf="showChangesetItem(changesetItem)">
    {{(changesetItem)?.employee.firstname}}
  </span>
  <span class="tag tag-pill tag-primary" [class.previous-step]="showAsPreviousStep(deskAssignment)" *ngIf="showDeskAssignmentItem(changesetItem,deskAssignment)">
    {{(deskAssignment)?.employee.firstname}}
  </span>
  <div class="deskItem" *ngIf="(changesetItem) == null && (deskAssignment) == null">
    <img [src]="emptyDeskUrl" alt="empty desk">
  </div>

</div>

<template #popContent >
  <div (mouseenter)="enterPopoverContent()" (mouseleave)="leavePopoverContent(popoverWindow)">
    <desk-card [desk]="desk"
               [changeset]="changeset"
               [deskAssignment]="deskAssignment$"
               [changesetItem]="changesetItem$"></desk-card>
  </div>
</template>
