<div class="desk-position"
    [style.top]="desk.y - (desk.height/2) + 'px'"
    [style.left]="desk.x + - (desk.width/2) + 'px'"
    [style.height]="desk.height + 'px'"
    [style.width]="desk.width  + 'px'"
    placement="right"
    [ngbPopover]="popContent" triggers="mouseenter:mouseleave" popoverTitle="Desk code: {{desk.code}}"
    container="body"
    (click)="open(modalContent)"
    [draggable]="deskAssignment != null"
    (dragstart)="ondragstart($event)"
    (drop)="ondrop($event)"
    (dragover)="ondragover($event)">

  <span class="tag tag-pill tag-warning" *ngIf="changesetItem|async">
    {{(changesetItem|async)?.employee.firstname}}
  </span>
  <span class="tag tag-pill tag-primary" *ngIf="(changesetItem|async) == null && (deskAssignment|async)">
    {{(deskAssignment|async)?.employee.firstname}}
  </span>
  <div class="deskItem" *ngIf="(changesetItem|async) == null && (deskAssignment|async) == null">
    <img [src]="emptyDeskUrl" alt="empty desk">
  </div>

</div>

<template #popContent>
  <p *ngIf="!deskAssignment">Available desk</p>
  <desk-card [deskAssignment]="deskAssignment|async" [changesetItem]="changesetItem|async" ></desk-card>
</template>

<template #modalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Desk Information</h4>
  </div>
  <div class="modal-body">
    <desk-assign [desk]="desk" [deskAssignment]="deskAssignment|async" [changesetItem]="changesetItem|async" [changeset]="changeset"></desk-assign>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="c('DELETE')">Delete</button>
    <button type="button" class="btn btn-secondary" (click)="c('Cancel')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="c('Save')">Save</button>
    <br/>
  </div>
</template>
